body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #e8491d; /* Cor de Cachorro-Quente! */
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

main {
    padding: 20px;
}

.hotdog-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.preco {
    font-size: 1.2em;
    color: #e8491d;
    font-weight: bold;
    margin: 5px 0;
}

button {
    background-color: #28a745; /* Botão verde de 'Adicionar' */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}